In [9]:
import pandas as pd
import numpy as np
import matplotlib
import sklearn
import tensorflow as tf

In [12]:
df = pd.read_csv('Titanic.csv') # loading the data
print(df)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked Constant_Feature  \
0                330911    7.8292   NaN        Q         constant
1                363272    7.0000   NaN        S         constant
2                240276    9.6875   NaN        Q         constant
3                315154    8.6625   NaN        S         constant
4               3101298   12.2875   NaN        S         constant
..                  ...       ...   ...      ...              ...
413           A.5. 3236    8.0500   NaN        S         constant
414            PC 17758  108.9000  C105        C         constant
415  SOTON/O.Q. 3101262    7.2500   NaN        S         constant
416              359309    8.0500   NaN        S         constant
417                2668   22.3583   NaN        C         constant

     Pclass_Duplicate Quasi_Constant_Feature  PClass
0                   3               constant      30
1                   3               constant      30
2                   2               constant      20
3                   3               constant      30
4                   3               constant      30
..                ...                    ...     ...
413                 3               constant      30
414                 1               constant      10
415                 3               constant      30
416                 3               constant      30
417                 3               constant      30

[418 rows x 16 columns]

In [13]:
# Get the shape of the dataframe
num_rows, num_columns = df.shape

print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 418
Number of columns: 16

In [14]:
# Print the list of columns
print('List of columns:')
print(columns_list)

List of columns:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Constant_Feature', 'Pclass_Duplicate', 'Quasi_Constant_Feature', 'PClass']

In [15]:
# Find the number of missing values in each column
missing_values = df.isnull().sum()

# Print the number of missing values in each column
print('Number of missing values in each column:')
print(missing_values)

Number of missing values in each column:
PassengerId                 0
Survived                    0
Pclass                      0
Name                        0
Sex                         0
Age                        86
SibSp                       0
Parch                       0
Ticket                      0
Fare                        1
Cabin                     327
Embarked                    0
Constant_Feature            0
Pclass_Duplicate            0
Quasi_Constant_Feature      0
PClass                      0
dtype: int64

In [17]:
# Create a data quality report
data_quality_report = pd.DataFrame({
    'Data Type': df.dtypes,
    'Number of Missing Values': df.isnull().sum(),
    'Number of Unique Values': df.nunique(),
    'Mean': df.mean(numeric_only=True),
    'Median': df.median(numeric_only=True),
    'Standard Deviation': df.std(numeric_only=True),
    'Minimum': df.min(numeric_only=True),
    'Maximum': df.max(numeric_only=True)
})

print('Data Quality Report:')
print(data_quality_report)

Data Quality Report:
                       Data Type  Number of Missing Values  \
Age                      float64                        86
Cabin                     object                       327
Constant_Feature          object                         0
Embarked                  object                         0
Fare                     float64                         1
Name                      object                         0
PClass                     int64                         0
Parch                      int64                         0
PassengerId                int64                         0
Pclass                     int64                         0
Pclass_Duplicate           int64                         0
Quasi_Constant_Feature    object                         0
Sex                       object                         0
SibSp                      int64                         0
Survived                   int64                         0
Ticket                    object                         0

                        Percentage of Missing Values  Number of Unique Values  \
Age                                        20.574163                       79
Cabin                                      78.229665                       76
Constant_Feature                            0.000000                        1
Embarked                                    0.000000                        3
Fare                                        0.239234                      169
Name                                        0.000000                      418
PClass                                      0.000000                        6
Parch                                       0.000000                        8
PassengerId                                 0.000000                      418
Pclass                                      0.000000                        3
Pclass_Duplicate                            0.000000                        3
Quasi_Constant_Feature                      0.000000                        2
Sex                                         0.000000                        2
SibSp                                       0.000000                        7
Survived                                    0.000000                        2
Ticket                                      0.000000                      363

                               Mean     Median  Standard Deviation  Minimum  \
Age                       30.272590    27.0000           14.181209     0.17
Cabin                           NaN        NaN                 NaN      NaN
Constant_Feature                NaN        NaN                 NaN      NaN
Embarked                        NaN        NaN                 NaN      NaN
Fare                      35.627188    14.4542           55.907576     0.00
Name                            NaN        NaN                 NaN      NaN
PClass                    22.655502    30.0000            8.410681    10.00
Parch                      0.392344     0.0000            0.981429     0.00
PassengerId             1100.500000  1100.5000          120.810458   892.00
Pclass                     2.265550     3.0000            0.841838     1.00
Pclass_Duplicate           2.265550     3.0000            0.841838     1.00
Quasi_Constant_Feature          NaN        NaN                 NaN      NaN
Sex                             NaN        NaN                 NaN      NaN
SibSp                      0.447368     0.0000            0.896760     0.00
Survived                   0.363636     0.0000            0.481622     0.00
Ticket                          NaN        NaN                 NaN      NaN

                          Maximum
Age                       76.0000
Cabin                         NaN
Constant_Feature              NaN
Embarked                      NaN
Fare                     512.3292
Name                          NaN
PClass                    30.0000
Parch                      9.0000
PassengerId             1309.0000
Pclass                     3.0000
Pclass_Duplicate           3.0000
Quasi_Constant_Feature        NaN
Sex                           NaN
SibSp                      8.0000
Survived                   1.0000
Ticket                        NaN